@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: Arial;
}

main {
    display: grid;
    place-items: center;
}

body {
   background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

body h1 {
    color: rgb(17, 7, 114);
}

body input {
    border: solid 2px #000;
    border-radius: 5px;
    text-align: center;
}

body button {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #adff2f;
}

button:hover {
    background-color: rgb(8, 212, 8);
}